<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.situ.mall.order.mapper.OrderCarMapper">

	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.situ.mall.order.model.OrderCarModel">
		<result column="id" property="id" />
		<result column="user_code" property="userCode" />
		<result column="sp_code" property="spCode" />
		<result column="count" property="count" />
		<result column="purl" property="purl" />
		<result column="pname" property="pname" />
		<result column="pcost" property="pcost" />
	</resultMap>

	<!-- table all fields   sql片段 -->
	<sql id="Base_Column_List">
		id, user_code, sp_code, count
		,(select url from b2c_shop.sp_pic p where p.code=sp_code and type=1)purl
		,(select name from b2c_shop.spinfo s where s.code=sp_code)pname
		,(select price from b2c_shop.spinfo s where s.code=sp_code)pcost
	</sql>
	
	<sql id="table_name">
		b2c_shop.cart
	</sql>

	<!-- 拼接查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="userCode != null and userCode != ''">
				and user_code like #{userCode}
			</if>
			<if test="spCode != null and spCode != ''">
				and sp_code like #{spCode}
			</if>
			<if test="count != null and count != ''">
				and count = #{count}
			</if>
			<if test="orderby != null and orderby != ''">
				order by ${orderby}
			</if>
	</sql>

	<!-- 插入记录 -->
	<!--selectKey  会将 SELECT LAST_INSERT_ID()的结果放入到传入的model的主键里面，  
        keyProperty 对应的model中的主键的属性名，这里是 user 中的id，因为它跟数据库的主键对应  
        order AFTER 表示 SELECT LAST_INSERT_ID() 在insert执行之后执行,多用与自增主键，  
              BEFORE 表示 SELECT LAST_INSERT_ID() 在insert执行之前执行，这样的话就拿不到主键了，  
                    这种适合那种主键不是自增的类型  
        resultType 主键类型 -->  
<!-- 		<selectKey resultType="java.lang.Integer"  -->
<!-- 		order="AFTER" keyProperty="id"> -->
<!-- 			SELECT LAST_INSERT_ID() -->
<!-- 		</selectKey> -->
	<insert id="insert" parameterType="Object">
		insert into <include refid="table_name" />(user_code, sp_code, count)
		values(#{userCode}, #{spCode}, #{count})
	</insert>
	
	<!-- 删除记录 -->
<!-- 	<delete id="delete" parameterType="Object"> -->
<!-- 		delete from b2c_shop.category where code = #{id} -->
<!-- 	</delete> -->
	
	<delete id="delete" parameterType="OrderCarModel"> 
	<!-- 上面的Object删除条件后面赋的值可以是任意的参数名 -->
	<!-- 当类型为UserModel时后面赋的值为UserModel的属性 -->
		delete from <include refid="table_name" /> where id = #{id}
	</delete>
	
	<delete id="deleteModel" parameterType="Object">
		delete from <include refid="table_name" /> 
		<include refid="Example_Where_Clause" />
	</delete>

	<!-- 根据，修改记录 -->
	<update id="update" parameterType="Object">
		update <include refid="table_name" /> set
		count = #{count}   
		where id = #{id}
	</update>

	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateActive" parameterType="Object">
		update <include refid="table_name" /> set 
		<trim suffixOverrides=",">
			<if test="count != null and count != '' ">
				count = #{count},
			</if>
		</trim>
		where user_code = #{userCode} and sp_code = #{spCode}
	</update>

	<!-- 根据主键查询 系统用户 -->
	<select id="selectId" resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from <include refid="table_name" /> where user_code like #{userCode}
	</select>

	<!-- 系统用户 列表总数 -->
	<select id="selectCount" resultType="java.lang.Integer" 
	parameterType="OrderCarModel">
		select count(1) from <include refid="table_name" />
		<include refid="Example_Where_Clause" />
	</select>
	
	<!-- 查询系统用户列表 -->
	<select id="selectModel" resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from <include refid="table_name" />
		<include refid="Example_Where_Clause" />
		limit ${rowStart},${pageLimit}
	</select>

	<!-- 查询系统用户列表 -->
<!-- 	<select id="selectModel" resultMap="BaseResultMap" parameterType="Object"> -->
<!-- 		select <include refid="Base_Column_List" /> -->
<!-- 		from <include refid="table_name" /> -->
<!-- 		<include refid="Example_Where_Clause" /> -->
<!-- 		limit ${rowStart},${pageLimit} -->
<!-- 	</select> -->
	
	<!-- 查询系统用户列表 -->
	<select id="selectAll" resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from <include refid="table_name" />
		<include refid="Example_Where_Clause" />
<!-- 		<if test="pager.orderCondition != null and pager.orderCondition != ''"> -->
<!-- 			${pager.orderCondition} -->
<!-- 		</if> -->
	</select>
	
	<select id="selectByIds" resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from <include refid="table_name" /> where id in (${spCode})
	</select>

</mapper>   
